

{% load static %}

{% block javascript %}
    <script src="{% static 'js/formularioAjax6.js' %}"></script>
{% endblock %}

{% block content %}

    <p>
        <button type="button" class="btn btn-primary js-create-bookCINCO" data-url="{% url 'book_createCINCO' %}" disabled >
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </p>

    {##}
    {#  <table class="table" id="book-table">#}
    {#    <thead>#}
    {#      <tr>#}
    {#        <th>#</th>#}
    {#        <th>Title</th>#}
    {#        <th>Author</th>#}
    {#        <th>Type</th>#}
    {#        <th>Publication date</th>#}
    {#        <th>Pages</th>#}
    {#        <th>Price</th>#}
    {#        <th></th>#}
    {#      </tr>#}
    {#    </thead>#}
    {#    <tbody>#}
    {#      {% include 'ajax/partial_book_list.html' %}#}
    {#    </tbody>#}
    {#  </table>#}

    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}