
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand text-center" href="#" style="color: black; text-align: center"><strong>SOLPROMAT</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

</nav>


<div class="jumbotron">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Este es un programa diseñado para ayudarte a resolver problemas matemáticos en diversas situaciones
        y contextos, para aprovecharlo al máximo se sugiere que tengas en cuenta lo siguiente: </p>
    <hr class="my-4">
    <p> 1 Encontraras 10 problemas de selección múltiple para solucionar.</p>
    <hr class="my-4">
    <p> 2 Puedes usar diferentes herramientas como graficadora, editor de texto, calculadora y dibujo para resolver los
        problemas.</p>
    <hr class="my-4">
    <p> 3 Es necesario responder a todas las preguntas que el programa realice.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'formularioUsuarioPrincipal' %}" role="button">Comenzar</a>
</div>
