<div class="row">
    <h5 class="text-center">MATERIAL DE APOYO</h5>
    <div class="col-sm">

        <div class="col-sm-6">

            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    VIDEOS
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=AzyCnGsWhZs">1</a>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=-wIfAA-BxMc">2</a>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=5ARjpyV-cgw">3</a>
                    <a class="dropdown-item" target="_blank"
                       href="https://www.youtube.com/watch?v=AzyCnGsWhZs&t=108s">4</a>
                    <a class="dropdown-item" target="_blank"
                       href="https://www.youtube.com/watch?v=-wIfAA-BxMc&t=23s">5</a>

                </div>
            </div>

        </div>
    </div>
    <div class="col-sm">
        <div class="col-sm-6">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    ENLACES
                </button>
                <div class="dropdown-menu ">
                    <a class="dropdown-item" target="_blank"
                       href="https://www.ecured.cu/Resoluci%C3%B3n_de_Problemas_Matem%C3%A1ticos">1</a>
                    <a class="dropdown-item" target="_blank"
                       href="https://www.smartick.es/blog/matematicas/recursos-didacticos/problemas-de-operaciones-combinadas/">2</a>
                    <a class="dropdown-item" target="_blank" href="https://www.bbc.com/mundo/noticias-42582133">3</a>

                </div>
            </div>

        </div>
    </div>
</div>


<hr>
