 <div>
        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                <li class="page-item active" aria-current="page">
      <span class="page-link">
        1
        <span class="sr-only">(current)</span>
      </span>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'pregunta2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'pregunta3' %}">3</a></li>
            </ul>
        </nav>
    </div>