<div class="col-sm-7">
    <h5>ESTRATEGIAS</h5>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            PARA ENTENDER EL PROBLEMA
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#8730; Intenta comprender el problema</a>
            <a class="dropdown-item" href="#">&#8730; Replantea el problema con tus propias palabras</a>
            <a class="dropdown-item" href="#">&#8730; Reconoce los datos</a>
            <a class="dropdown-item" href="#">&#8730; Revisa si la información del problema es suficiente para
                resolverlo</a>
            <a class="dropdown-item" href="#">&#8730; Revisa si has resuelto problemas parecidos a este</a>
            {#                    <div class="dropdown-divider"></div>#}
            {#                    <a class="dropdown-item" href="#">Separated link</a>#}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            DESARROLLA UN PLAN
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#8730; Ensaya varias veces.</a>
            <a class="dropdown-item" href="#">&#8730; Buscar un Patrón </a>
            <a class="dropdown-item" href="#">&#8730; Hacer una lista de información</a>
            <a class="dropdown-item" href="#">&#8730; Resuelve problemas similares más simples</a>
            <a class="dropdown-item" href="#">&#8730; Realiza figuras, dibujos o diagramas que ayuden con la
                solución</a>
            <a class="dropdown-item" href="#">&#8730; Resuelve un problema equivalente</a>
            <a class="dropdown-item" href="#">&#8730; Trabajar hacia atrás</a>
            <a class="dropdown-item" href="#">&#8730; Plantea una ecuación</a>
            <a class="dropdown-item" href="#">&#8730; Busca una o varias fórmulas que puedan servir</a>
            {#                    <div class="dropdown-divider"></div>#}
            {#                    <a class="dropdown-item" href="#">Separated link</a>#}
        </div>
    </div>
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            EJECUTA TU PLAN
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#8730; Implementa las estrategias que escogiste hasta solucionar el
                problema.</a>
            <a class="dropdown-item" href="#">&#8730; Si no funciona la estrategia escoge una nueva.</a>
            <a class="dropdown-item" href="#">&#8730; Usa un tiempo razonable para resolver el problema.</a>
            <a class="dropdown-item" href="#">&#8730; Si no tienes éxito solicite una sugerencia.</a>
            <a class="dropdown-item" href="#">&#8730; No tenga miedo de volver a empezar. Puedes iniciar varias
                veces.</a>
            {#                    <div class="dropdown-divider"></div>#}
            {#                    <a class="dropdown-item" href="#">Separated link</a>#}
        </div>
    </div>
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            REVISA LO QUE HICISTE
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#8730; Asegúrate de que la solución sea correcta.</a>
            <a class="dropdown-item" href="#">&#8730; Revisa que tu respuesta satisfaga las condiciones del
                problema.</a>
            <a class="dropdown-item" href="#">&#8730; Identifica si existe una solución más sencilla.</a>
            <a class="dropdown-item" href="#">&#8730; Identifica si tú solución se puede usar para resolver otros
                problemas.</a>
            {#                    <div class="dropdown-divider"></div>#}
            {#                    <a class="dropdown-item" href="#">Separated link</a>#}
        </div>
    </div>

</div>


<div class="col-sm-2">
    <h5>SUGERENCIAS</h5>
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            1
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="#">1. Acepta el reto de resolver el problema. </a>
            <a class="dropdown-item" href="#">2. Reescribe el problema en tus propias palabras.</a>
            <a class="dropdown-item" href="#">3. Tómate tiempo para explorar, reflexionar, pensar.</a>
            <a class="dropdown-item" href="#">4. Habla contigo mismo. Haz las preguntas que creas necesarias.</a>
            <a class="dropdown-item" href="#">5. Si es apropiado, trata el problema con números simples.</a>
            <a class="dropdown-item" href="#">6. Si te sientes frustrado, toma un descanso e inténtalo de nuevo.</a>
        </div>
    </div>
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            2
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">7. Analiza el problema desde varios ángulos.</a>
            <a class="dropdown-item" href="#">8. Revisa tu lista de estrategias para ver si una (o más) te pueden ayudar
                a empezar.</a>
            <a class="dropdown-item" href="#">9. Muchos problemas se pueden de resolver de distintas formas.</a>
            <a class="dropdown-item" href="#">10. No tenga miedo de hacer cambios en las estrategias.</a>
            <a class="dropdown-item" href="#">11. La experiencia en la solución de problemas es valiosísima. <br>
                Trabaje con montones de ellos, su confianza crecerá.</a>
            <a class="dropdown-item" href="#">12. Si no estás progresando mucho, no dudes en volver a iniciar.</a>
            {#                    <div class="dropdown-divider"></div>#}
            {#                    <a class="dropdown-item" href="#">Separated link</a>#}
        </div>
    </div>

    <div class="btn-group dropleft">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            3
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">14. Asegurarte de entender el problema.</a>
            <a class="dropdown-item" href="#">15. Trata de establecer con precisión cuál fue el paso clave en tu
                solución.</a>
            <a class="dropdown-item" href="#">16. Ayudar a que otros desarrollen habilidades en la solución de
                problemas.</a>
            <a class="dropdown-item" href="#">17. ¡Disfrútalo! Resolver un problema es una experiencia
                significativa.</a>

        </div>
    </div>


</div>


