html,
body {
  margin: 10px;
}

canvas {
  grid-area: canvas;
  border: solid forestgreen 15px;
  border-radius: 5px;
  cursor: crosshair;
}

section {
  grid-area: options;
}

.grid-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "options canvas";
  grid-gap: 1px;
}

h1,
ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style-type: none;
  padding: 0.5em;
}
